body {
  font-family:"Helvetica Neue", "Gotham", "Segoe UI", "Times", sans-serif;
  display:flex;
  min-height:90%;
  flex-direction: column;
  padding-left:10%;
  padding-right:10%;
}
textarea {
  margin-bottom:1em;
}
button {
  padding:1em;
  font-size:1em;
  background-color:#001C55;
  color:#FFFFFF;
  border:none;
  outline:none;
}
#downloadLink {
  margin-top:1em;
  display:block;
  text-align: center;
  padding:1em;
  text-decoration: none;
  color:blue;
  background-color:#EEEEEE;
}
.gfy {
  box-shadow: #AAA 0 5px 10px;
  align-self: center;
  margin:2em;
  max-width:50%;
}
